body {
  margin: 0;
  background-image: url("Images/bg1.png");
  background-repeat: no-repeat;        
  background-size: cover;              
  background-position: center; 
  image-rendering: pixelated;  
}

#hero1{
  width: 500px;
  height: 500px;
  image-rendering: pixelated;
}

#hero2{
  width: 500px;
  height: 500px;
  image-rendering: pixelated;
}
